In [1]:
%matplotlib inline
import matplotlib
import seaborn as sns
sns.set()
matplotlib.rcParams['figure.dpi'] = 144

In [2]:
from static_grader import grader

# DW Miniproject
## Introduction

The objective of this miniproject is to exercise your ability to wrangle tabular data set and aggregate large data sets into meaningful summary statistics. We will be working with the same medical data used in the `pw` miniproject, but will be leveraging the power of Pandas to more efficiently represent and act on our data.

## Downloading the data

We first need to download the data we'll be using from Amazon S3:

In [3]:
!mkdir dw-data
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz -nc -P ./dw-data/

mkdir: cannot create directory ‘dw-data’: File exists
File ‘./dw-data/201701scripts_sample.csv.gz’ already there; not retrieving.

File ‘./dw-data/201606scripts_sample.csv.gz’ already there; not retrieving.

File ‘./dw-data/practices.csv.gz’ already there; not retrieving.

File ‘./dw-data/chem.csv.gz’ already there; not retrieving.

## Loading the data

Similar to the `PW` miniproject, the first step is to read in the data. The data files are stored as compressed CSV files. You can load the data into a Pandas DataFrame by making use of the `gzip` package to decompress the files and Panda's `read_csv` methods to parse the data into a DataFrame. You may want to check the Pandas documentation for parsing [CSV](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) files for reference.

For a description of the data set please, refer to the [PW miniproject](./pw.ipynb). **Note that all questions make use of the 2017 data only, except for Question 5 which makes use of both the 2017 and 2016 data.**

In [3]:
import pandas as pd
import numpy as np
import gzip

In [4]:
# load the 2017 data
scripts = pd.read_csv('dw-data/201701scripts_sample.csv.gz')
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [5]:
col_names=[ 'code', 'name', 'addr_1', 'addr_2', 'borough', 'village', 'post_code']
practices = pd.read_csv('dw-data/practices.csv.gz', names=col_names)
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [6]:
chem = pd.read_csv('dw-data/chem.csv.gz')
chem.head()

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

Now that we've loaded in the data, let's first replicate our results from the `PW` miniproject. Note that we are now working with a larger data set so the answers will be different than in the `PW` miniproject even if the analysis is the same.

## Question 1: summary_statistics

In the `PW` miniproject we first calculated the total, mean, standard deviation, and quartile statistics of the `'items'`, `'quantity'`', `'nic'`, and `'act_cost'` fields. To do this we had to write some functions to calculate the statistics and apply the functions to our data structure. The DataFrame has a `describe` method that will calculate most (not all) of these things for us.

Submit the summary statistics to the grader as a list of tuples: [('act_cost', (total, mean, std, q25, median, q75)), ...]

In [ ]:
summary_stats = [('items', (0,) * 6), ('quantity', (0,) * 6), ('nic', (0,) * 6), ('act_cost', (0,) * 6)]

In [ ]:
grader.score.dw__summary_statistics(summary_stats)

## Question 2: most_common_item

We can also easily compute summary statistics on groups within the data. In the `pw` miniproject we had to explicitly construct the groups based on the values of a particular field. Pandas will handle that for us via the `groupby` method. This process is [detailed in the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/groupby.html).

Use `groupby` to calculate the total number of items dispensed for each `'bnf_name'`. Find the item with the highest total and return the result as `[(bnf_name, total)]`.

In [ ]:
most_common_item = [("", 0)]

In [ ]:
grader.score.dw__most_common_item(most_common_item)

## Question 3: items_by_region

Now let's find the most common item by post code. The post code information is in the `practices` DataFrame, and we'll need to `merge` it into the `scripts` DataFrame. Pandas provides [extensive documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html) with diagrammed examples on different methods and approaches for joining data. The `merge` method is only one of many possible options.

Return your results as a list of tuples `(post code, item name, amount dispensed as % of total)`. Sort your results ascending alphabetically by post code and take only results from the first 100 post codes.

**NOTE:** Some practices have multiple postal codes associated with them. Use the alphabetically first postal code. Note some postal codes may have multiple `'bnf_name'` with the same prescription rate for the maximum. In this case, take the alphabetically first `'bnf_name'` (as in the PW miniproject).

In [ ]:
items_by_region = [("B11 4BW", "Salbutamol_Inha 100mcg (200 D) CFF", 0.0310589063)] * 100

In [ ]:
grader.score.dw__items_by_region(items_by_region)

## Question 4: script_anomalies

Drug abuse is a source of human and monetary costs in health care. A first step in identifying practitioners that enable drug abuse is to look for practices where commonly abused drugs are prescribed unusually often. Let's try to find practices that prescribe an unusually high amount of opioids. The opioids we'll look for are given in the list below.

In [7]:
opioids = ['morphine', 'oxycodone', 'methadone', 'fentanyl', 'pethidine', 'buprenorphine', 'propoxyphene', 'codeine']

These are generic names for drugs, not brand names. Generic drug names can be found using the `'bnf_code'` field in `scripts` along with the `chem` table.. Use the list of opioids provided above along with these fields to make a new field in the `scripts` data that flags whether the row corresponds with a opioid prescription.

In [8]:
unique_post_practices = practices.sort_values('post_code')
unique_post_practices.shape

(12020, 7)

In [9]:
unique_post_practices['post_code'].nunique()

8306

In [10]:
unique_post_practices

,code,name,addr_1,addr_2,borough,village,post_code
1896,E82060,PARKBURY HOUSE SURGERY,PARKBURY HOUSE,ST.PETERS STREET,ST.ALBANS,HERTFORDSHIRE,AL1 3HD
1871,E82031,MALTINGS SURGERY,THE MALTINGS SURGERY,8-14 VICTORIA STREET,ST ALBANS,HERTFORDSHIRE,AL1 3JB
1849,E82004,HATFIELD ROAD SURGERY,61 HATFIELD ROAD,NaN,ST.ALBANS,HERTFORDSHIRE,AL1 4JE
1848,E82002,WRAFTON HOUSE SURGERY,WRAFTON HOUSE SURGERY,9/11 WELLFIELD ROAD,HATFIELD,HERTFORDSHIRE,AL10 0BS
9812,Y05146,HCT LYMPHOEDEMA AT WEST ESSEX CCG,QUEENSWAY HEALTH CENTRE,QUEENSWAY,HATFIELD,HERTFORDSHIRE,AL10 0LF
1861,E82018,LISTER HOUSE SURGERY,LISTER HOUSE,THE COMMON,HATFIELD,HERTFORDSHIRE,AL10 0NL
9185,Y04223,SPECTRUM,DRUG & ALCOHOL SERVICE,NaN,HATFIELD,HERTFORDSHIRE,AL10 0UR
1866,E82023,BURVILL HOUSE SURGERY,BURVILL HOUSE SURGERY,52/54 DELLFIELD ROAD,HATFIELD,HERTFORDSHIRE,AL10 8HP
11638,Y03231,COMM GYNAECOLOGY CLINIC2,45-47 KINGS ROAD,LONDON COLNEY,ST ALBANS,NaN,AL2 1ES
7989,Y01966,VERULAM GYNAECOLOGY CATS,45-47 KINGS ROAD,NaN,LONDON COLNEY,HERTFORDSHIRE,AL2 1ES
11538,Y01966,CATS - VERULAM GYNAECOLOGY,45-47 KINGS ROAD,NaN,LONDON COLNEY,HERTFORDSHIRE,AL2 1ES
1941,E82113,COLNEY MEDICAL CENTRE,COLNEY MEDICAL CENTRE,45 KINGS ROAD,LONDON COLNEY,HERTFORDSHIRE,AL2 1ES
1891,E82055,MIDWAY SURGERY,THE MIDWAY SURGERY,93 WATFORD ROAD,ST.ALBANS,HERTFORDSHIRE,AL2 3JX
1938,E82107,LATTIMORE SURGERY,THE LATTIMORE SURGERY,1 UPTON AVENUE,ST.ALBANS,HERTFORDSHIRE,AL3 5ER
1919,E82084,HARVEY GROUP PRACTICE,HARVEY GROUP PRACTICE,13/15 RUSSELL AVENUE,ST. ALBANS,HERTFORDSHIRE,AL3 5HB
9692,Y04967,PALMS HERTFORDSHIRE COMMUNITY TRUST,ST ALBANS CHILDREN'S CTR,CHURCH CRESCENT,ST ALBANS,NaN,AL3 5JB
7940,Y01802,COMMUNITY MEDICAL STAFFING-ST ALBANS,ST ALBANS CHILDRENS CTR,CHURCH CRESCENT,ST ALBANS,HERTFORDSHIRE,AL3 5JB
1895,E82059,GRANGE STREET SURGERY,GRANGE STREET SURGERY,2 GRANGE STREET,ST. ALBANS,HERTFORDSHIRE,AL3 5NF
1858,E82014,LODGE SURGERY,THE LODGE SURGERY,NORMANDY ROAD,ST. ALBANS,HERTFORDSHIRE,AL3 5NP
11510,E82095,REDBOURN HC MEDICAL PRACTICE,THE HEALTH CENTRE,1 HAWKES DRIVE,REDBOURN,HERTFORDSHIRE,AL3 7BL
1929,E82095,HEALTH CENTRE REDBOURN,THE HEALTH CENTRE,1 HAWKES DRIVE,REDBOURN,HERTFORDSHIRE,AL3 7BL
7181,E82663,THE SURGERY - DR. SEPAI,THE SURGERY,1 HICKS ROAD MARKYATE,ST ALBANS,HERTFORDSHIRE,AL3 8LJ
11457,E82663,THE SURGERY - DR. SEPAI,MARKYATE SURGERY,1 HICKS ROAD MARKYATE,ST ALBANS,HERTFORDSHIRE,AL3 8LJ
11529,E82663,MARKYATE SURGERY,MARKYATE SURGERY,1 HICKS ROAD MARKYATE,ST ALBANS,HERTFORDSHIRE,AL3 8LJ
1875,E82037,VILLAGE SURGERY,THE VILLAGE SURGERY,AMENBURY LANE,HARPENDEN,HERTFORDSHIRE,AL5 2BT
1912,E82077,DAVENPORT HOUSE SURGERY,DAVENPORT HOUSE,BOWERS WAY,HARPENDEN,HERTFORDSHIRE,AL5 4HX
8052,Y02175,ELMS MEDICAL PRACTICE - ENT CATS,5 STEWART ROAD,NaN,HARPENDEN,HERTFORDSHIRE,AL5 4QA
11540,Y02175,CATS - ENT,5 STEWART ROAD,NaN,HARPENDEN,HERTFORDSHIRE,AL5 4QA
1906,E82071,ELMS MEDICAL PRACTICE,THE ELMS MEDICAL PRACTICE,5 STEWART ROAD,HARPENDEN,HERTFORDSHIRE,AL5 4QA
1862,E82019,BRIDGE COTTAGE SURGERY,BRIDGE COTTAGE SURGERY,41 HIGH STREET,WELWYN,HERTFORDSHIRE,AL6 9EF
...,...,...,...,...,...,...,...
9024,Y04000,N RYEDALE/N YORK COMM SERV(2),HAXBY & WIGGINTON HC,THE VILLAGE,WIGGINTON,NaN,YO32 2LL
552,B82026,HAXBY GROUP PRACTICE,HAXBY GROUP PRACTICE,HAXBY/WIGGINTON HLTH CTR.,2 THE VILLAGE WIGGINTON,YORK,YO32 2LL
9023,Y03999,N RYEDALE/N YORK COMM SERV(1),HAXBY & WIGGINTON HC,THE VILLAGE,WIGGINTON,NaN,YO32 2LL
9021,Y03996,HEALTH VISITORS-NEW EARSWICK,FAMILY TREE CHILDRENS CTR,HAWTHORN TERRACE,NEW EARSWICK,NaN,YO32 4BY
594,B82080,MY HEALTH GROUP,SOUTHFIELDS ROAD,STRENSALL,YORK,NaN,YO32 5UA
595,B82081,ELVINGTON MEDICAL PRACTICE,ELVINGTON SURGERY,YORK ROAD ELVINGTON,YORK,NORTH YORKSHIRE,YO41 4DY
445,B81036,POCKLINGTON GROUP PRACTICE,THE BECKSIDE CENTRE,1 AMOS DRIVE,POCKLINGTON,NaN,YO42 2BS
420,B81009,MARKET WEIGHTON GROUP PRACTICE,WOLDS HOUSE,MEDFORTH STREET,MARKET WEIGHTON,NaN,YO43 3FF
558,B82032,CHURCH LANE SURGERY,CHURCH LANE SURGERY,CHURCH LANE,BOROUGHBRIDGE,YORK,YO51 9BD
611,B82619,TERRINGTON SURGERY,TERRINGTON SURGERY,TERRINGTON,YORK,NORTH YORKSHIRE,YO60 6PS
593,B82079,STILLINGTON SURGERY,THE SURGERY,NORTH BACK LANE,STILLINGTON YORK,NaN,YO61 1LL
581,B82064,TOLLERTON SURGERY,5-7 HAMBLETON VIEW,TOLLERTON,YORK,NaN,YO61 1QW
10055,Y04001,N RYEDALE/N YORK COMM SERV(3),EASINGWOLD HEALTH CENTRE,CRABMILL LANE,EASINGWOLD,NaN,YO61 3BU
530,B82002,MILLFIELD SURGERY,MILLFIELD SURGERY,MILLFIELD LN EASINGWOLD,YORK,NORTH YORKSHIRE,YO61 3JR
609,B82609,AMPLEFORTH SURGERY,AMPLEFORTH SURGERY,BACK LANE AMPLEFORTH,YORK,NORTH YORKSHIRE,YO62 4EF
584,B82068,HELMSLEY SURGERY,THE MEDICAL CENTRE,CARLTON ROAD,HELMSLEY,YORK,YO62 5HD
9027,Y04004,N RYEDALE/N YORK COMM SERV(6),KIRBYMOORSIDE SURGERY,TINLEY GARTH,KIRBYMOORSIDE,NaN,YO62 6AR
591,B82077,KIRKBYMOORSIDE SURGERY,THE SURGERY,TINLEY GARTH,KIRKBYMOORSIDE,YORK,YO62 6AR
571,B82049,THIRSK DOCTORS SURGERY,THE HEALTH CENTRE,CHAPEL STREET,THIRSK,NORTH YORKSHIRE,YO7 1LG
566,B82042,LAMBERT MEDICAL CENTRE,THE LAMBERT MEDICAL CTR.,2 CHAPEL STREET,THIRSK,NORTH YORKSHIRE,YO7 1LU
11790,B82019,TOPCLIFFE SURGERY,THE SURGERY,LONG STREET TOPCLIFFE,THIRSK,NORTH YORKSHIRE,YO7 3RP
545,B82019,TOPCLIFFE SURGERY,THE SURGERY,LONG STREET,TOPCLIFFE,NR. THIRSK,YO7 3RP
602,B82097,SCOTT ROAD MEDICAL CENTRE,SCOTT ROAD MEDICAL CENTRE,SCOTT ROAD,SELBY,NORTH YORKSHIRE,YO8 4BL
7169,B82634,NY HORIZONS SELBY,74-76 GOWTHORPE,NaN,SELBY,NaN,YO8 4ET
589,B82074,POSTERNGATE SURGERY,POSTERNGATE SURGERY,PORTHOLME ROAD,SELBY,NORTH YORKSHIRE,YO8 4QH
10469,Y04010,SOUTH YORK COMM SERV (1),POSTERNGATE SURGERY,PORTHOLME ROAD,SELBY,NaN,YO8 4QH
9032,Y04012,SOUTH YORK COMM SERV (3),BEECH TREE SURGERY,68 DONCASTER ROAD,SELBY,NaN,YO8 9AJ
565,B82041,BEECH TREE SURGERY,BEECH TREE SURGERY,68 DONCASTER ROAD,SELBY,NORTH YORKSHIRE,YO8 9AJ
9031,Y04011,SOUTH YORK COMM SERV (2),SELBY WAR MEMORIAL HOSP,DONCASTER ROAD,SELBY,NaN,YO8 9BX
7528,Y00217,SELBY MIU,SELBY WAR MEMORIAL HOSP.,DONCASTER ROAD,SELBY,NaN,YO8 9BX

In [11]:
unique_post_practices['code'].nunique()

10843

In [12]:
unique_post_practices['code'].shape

(12020,)

In [13]:
unique_practices_by_code = practices.sort_values('post_code').drop_duplicates('code','first')

# unique_post_practices.shape
print(unique_practices_by_code['post_code'].shape)
print(unique_practices_by_code['code'].shape)

print(unique_practices_by_code['post_code'].nunique())
print(unique_practices_by_code['code'].nunique())

(10843,)
(10843,)
8137
10843

In [14]:
unique_practices_by_code

,code,name,addr_1,addr_2,borough,village,post_code
1896,E82060,PARKBURY HOUSE SURGERY,PARKBURY HOUSE,ST.PETERS STREET,ST.ALBANS,HERTFORDSHIRE,AL1 3HD
1871,E82031,MALTINGS SURGERY,THE MALTINGS SURGERY,8-14 VICTORIA STREET,ST ALBANS,HERTFORDSHIRE,AL1 3JB
1849,E82004,HATFIELD ROAD SURGERY,61 HATFIELD ROAD,NaN,ST.ALBANS,HERTFORDSHIRE,AL1 4JE
1848,E82002,WRAFTON HOUSE SURGERY,WRAFTON HOUSE SURGERY,9/11 WELLFIELD ROAD,HATFIELD,HERTFORDSHIRE,AL10 0BS
9812,Y05146,HCT LYMPHOEDEMA AT WEST ESSEX CCG,QUEENSWAY HEALTH CENTRE,QUEENSWAY,HATFIELD,HERTFORDSHIRE,AL10 0LF
1861,E82018,LISTER HOUSE SURGERY,LISTER HOUSE,THE COMMON,HATFIELD,HERTFORDSHIRE,AL10 0NL
9185,Y04223,SPECTRUM,DRUG & ALCOHOL SERVICE,NaN,HATFIELD,HERTFORDSHIRE,AL10 0UR
1866,E82023,BURVILL HOUSE SURGERY,BURVILL HOUSE SURGERY,52/54 DELLFIELD ROAD,HATFIELD,HERTFORDSHIRE,AL10 8HP
11638,Y03231,COMM GYNAECOLOGY CLINIC2,45-47 KINGS ROAD,LONDON COLNEY,ST ALBANS,NaN,AL2 1ES
7989,Y01966,VERULAM GYNAECOLOGY CATS,45-47 KINGS ROAD,NaN,LONDON COLNEY,HERTFORDSHIRE,AL2 1ES
1941,E82113,COLNEY MEDICAL CENTRE,COLNEY MEDICAL CENTRE,45 KINGS ROAD,LONDON COLNEY,HERTFORDSHIRE,AL2 1ES
1891,E82055,MIDWAY SURGERY,THE MIDWAY SURGERY,93 WATFORD ROAD,ST.ALBANS,HERTFORDSHIRE,AL2 3JX
1938,E82107,LATTIMORE SURGERY,THE LATTIMORE SURGERY,1 UPTON AVENUE,ST.ALBANS,HERTFORDSHIRE,AL3 5ER
1919,E82084,HARVEY GROUP PRACTICE,HARVEY GROUP PRACTICE,13/15 RUSSELL AVENUE,ST. ALBANS,HERTFORDSHIRE,AL3 5HB
9692,Y04967,PALMS HERTFORDSHIRE COMMUNITY TRUST,ST ALBANS CHILDREN'S CTR,CHURCH CRESCENT,ST ALBANS,NaN,AL3 5JB
7940,Y01802,COMMUNITY MEDICAL STAFFING-ST ALBANS,ST ALBANS CHILDRENS CTR,CHURCH CRESCENT,ST ALBANS,HERTFORDSHIRE,AL3 5JB
1895,E82059,GRANGE STREET SURGERY,GRANGE STREET SURGERY,2 GRANGE STREET,ST. ALBANS,HERTFORDSHIRE,AL3 5NF
1858,E82014,LODGE SURGERY,THE LODGE SURGERY,NORMANDY ROAD,ST. ALBANS,HERTFORDSHIRE,AL3 5NP
11510,E82095,REDBOURN HC MEDICAL PRACTICE,THE HEALTH CENTRE,1 HAWKES DRIVE,REDBOURN,HERTFORDSHIRE,AL3 7BL
7181,E82663,THE SURGERY - DR. SEPAI,THE SURGERY,1 HICKS ROAD MARKYATE,ST ALBANS,HERTFORDSHIRE,AL3 8LJ
1875,E82037,VILLAGE SURGERY,THE VILLAGE SURGERY,AMENBURY LANE,HARPENDEN,HERTFORDSHIRE,AL5 2BT
1912,E82077,DAVENPORT HOUSE SURGERY,DAVENPORT HOUSE,BOWERS WAY,HARPENDEN,HERTFORDSHIRE,AL5 4HX
8052,Y02175,ELMS MEDICAL PRACTICE - ENT CATS,5 STEWART ROAD,NaN,HARPENDEN,HERTFORDSHIRE,AL5 4QA
1906,E82071,ELMS MEDICAL PRACTICE,THE ELMS MEDICAL PRACTICE,5 STEWART ROAD,HARPENDEN,HERTFORDSHIRE,AL5 4QA
1862,E82019,BRIDGE COTTAGE SURGERY,BRIDGE COTTAGE SURGERY,41 HIGH STREET,WELWYN,HERTFORDSHIRE,AL6 9EF
8007,Y02029,DERMATOLOGY SERVICES E&N,QVM/DANESBURY SITE,73 SCHOOL LANE,WELWYN,HERTFORDSHIRE,AL6 9SB
8897,Y03837,HVCCG NURSE PRESCRIBERS,UNIT 1A HOWARD COURT,14 TEWIN ROAD,WELWYN GARDEN CITY,HERTFORDSHIRE,AL7 1BW
8898,Y03838,ENHCCG NURSE PRESCRIBERS,UNIT 1A HOWARD COURT,14 TEWIN ROAD,WELWYN GARDEN CITY,HERTFORDSHIRE,AL7 1BW
10289,Y04607,ISABEL HOSPICE,61 BRIDGE ROAD EAST,NaN,WELWYN GARDEN CITY,HERTFORDSHIRE,AL7 1JR
1878,E82040,PEARTREE LANE SURGERY,PEARTREE LANE SURGERY,110 PEARTREE LANE,WELWYN GARDEN CITY,HERTFORDSHIRE,AL7 3UJ
...,...,...,...,...,...,...,...
10128,Y05290,YORK ADULT COMMUNITY NURSING,YORK HOSPITAL,WIGGINTON ROAD,YORK,NaN,YO31 8HE
9024,Y04000,N RYEDALE/N YORK COMM SERV(2),HAXBY & WIGGINTON HC,THE VILLAGE,WIGGINTON,NaN,YO32 2LL
552,B82026,HAXBY GROUP PRACTICE,HAXBY GROUP PRACTICE,HAXBY/WIGGINTON HLTH CTR.,2 THE VILLAGE WIGGINTON,YORK,YO32 2LL
9023,Y03999,N RYEDALE/N YORK COMM SERV(1),HAXBY & WIGGINTON HC,THE VILLAGE,WIGGINTON,NaN,YO32 2LL
9021,Y03996,HEALTH VISITORS-NEW EARSWICK,FAMILY TREE CHILDRENS CTR,HAWTHORN TERRACE,NEW EARSWICK,NaN,YO32 4BY
594,B82080,MY HEALTH GROUP,SOUTHFIELDS ROAD,STRENSALL,YORK,NaN,YO32 5UA
595,B82081,ELVINGTON MEDICAL PRACTICE,ELVINGTON SURGERY,YORK ROAD ELVINGTON,YORK,NORTH YORKSHIRE,YO41 4DY
445,B81036,POCKLINGTON GROUP PRACTICE,THE BECKSIDE CENTRE,1 AMOS DRIVE,POCKLINGTON,NaN,YO42 2BS
420,B81009,MARKET WEIGHTON GROUP PRACTICE,WOLDS HOUSE,MEDFORTH STREET,MARKET WEIGHTON,NaN,YO43 3FF
558,B82032,CHURCH LANE SURGERY,CHURCH LANE SURGERY,CHURCH LANE,BOROUGHBRIDGE,YORK,YO51 9BD
611,B82619,TERRINGTON SURGERY,TERRINGTON SURGERY,TERRINGTON,YORK,NORTH YORKSHIRE,YO60 6PS
593,B82079,STILLINGTON SURGERY,THE SURGERY,NORTH BACK LANE,STILLINGTON YORK,NaN,YO61 1LL
581,B82064,TOLLERTON SURGERY,5-7 HAMBLETON VIEW,TOLLERTON,YORK,NaN,YO61 1QW
10055,Y04001,N RYEDALE/N YORK COMM SERV(3),EASINGWOLD HEALTH CENTRE,CRABMILL LANE,EASINGWOLD,NaN,YO61 3BU
530,B82002,MILLFIELD SURGERY,MILLFIELD SURGERY,MILLFIELD LN EASINGWOLD,YORK,NORTH YORKSHIRE,YO61 3JR
609,B82609,AMPLEFORTH SURGERY,AMPLEFORTH SURGERY,BACK LANE AMPLEFORTH,YORK,NORTH YORKSHIRE,YO62 4EF
584,B82068,HELMSLEY SURGERY,THE MEDICAL CENTRE,CARLTON ROAD,HELMSLEY,YORK,YO62 5HD
9027,Y04004,N RYEDALE/N YORK COMM SERV(6),KIRBYMOORSIDE SURGERY,TINLEY GARTH,KIRBYMOORSIDE,NaN,YO62 6AR
591,B82077,KIRKBYMOORSIDE SURGERY,THE SURGERY,TINLEY GARTH,KIRKBYMOORSIDE,YORK,YO62 6AR
571,B82049,THIRSK DOCTORS SURGERY,THE HEALTH CENTRE,CHAPEL STREET,THIRSK,NORTH YORKSHIRE,YO7 1LG
566,B82042,LAMBERT MEDICAL CENTRE,THE LAMBERT MEDICAL CTR.,2 CHAPEL STREET,THIRSK,NORTH YORKSHIRE,YO7 1LU
11790,B82019,TOPCLIFFE SURGERY,THE SURGERY,LONG STREET TOPCLIFFE,THIRSK,NORTH YORKSHIRE,YO7 3RP
602,B82097,SCOTT ROAD MEDICAL CENTRE,SCOTT ROAD MEDICAL CENTRE,SCOTT ROAD,SELBY,NORTH YORKSHIRE,YO8 4BL
7169,B82634,NY HORIZONS SELBY,74-76 GOWTHORPE,NaN,SELBY,NaN,YO8 4ET
589,B82074,POSTERNGATE SURGERY,POSTERNGATE SURGERY,PORTHOLME ROAD,SELBY,NORTH YORKSHIRE,YO8 4QH
10469,Y04010,SOUTH YORK COMM SERV (1),POSTERNGATE SURGERY,PORTHOLME ROAD,SELBY,NaN,YO8 4QH
9032,Y04012,SOUTH YORK COMM SERV (3),BEECH TREE SURGERY,68 DONCASTER ROAD,SELBY,NaN,YO8 9AJ
565,B82041,BEECH TREE SURGERY,BEECH TREE SURGERY,68 DONCASTER ROAD,SELBY,NORTH YORKSHIRE,YO8 9AJ
9031,Y04011,SOUTH YORK COMM SERV (2),SELBY WAR MEMORIAL HOSP,DONCASTER ROAD,SELBY,NaN,YO8 9BX
7528,Y00217,SELBY MIU,SELBY WAR MEMORIAL HOSP.,DONCASTER ROAD,SELBY,NaN,YO8 9BX

In [15]:
scripts.shape

(973193, 7)

In [16]:
scripts_posts = scripts.merge(unique_practices_by_code, left_on='practice', right_on='code')
scripts_posts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,code,name,addr_1,addr_2,borough,village,post_code
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,N85639,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,N85639,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,N85639,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,N85639,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,N85639,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF

In [17]:
scripts_posts.shape

(973193, 14)

In [18]:
chem.shape

(3487, 2)

In [19]:
unique_chem = chem.drop_duplicates('CHEM SUB')
unique_chem.shape

(3481, 2)

In [21]:
unique_chem['opioid'] = unique_chem['NAME'].str.contains('|'.join(opioids), case=False)
unique_chem.head()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

    CHEM SUB                                NAME  opioid
0  0101010A0                     Alexitol Sodium   False
1  0101010B0                          Almasilate   False
2  0101010C0                 Aluminium Hydroxide   False
3  0101010D0  Aluminium Hydroxide With Magnesium   False
4  0101010E0                        Hydrotalcite   False

In [22]:
chem_scripts = scripts_posts.merge(unique_chem, left_on='bnf_code', right_on='CHEM SUB',how='left')
chem_scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,code,name,addr_1,addr_2,borough,village,post_code,CHEM SUB,NAME,opioid
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,N85639,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF,0106020C0,Bisacodyl,False
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,N85639,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF,0106040M0,Macrogol 3350,False
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,N85639,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF,0301011R0,Salbutamol,False
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,N85639,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF,0304010G0,Chlorphenamine Maleate,False
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,N85639,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF,0401020K0,Diazepam,False

In [23]:
chem_scripts.shape

(973193, 17)

In [24]:
chem_scripts['opioid'].fillna(False, inplace=True)

In [25]:
# chem_scripts[chem_scripts['opioid'].isnull()]

Now for each practice calculate the proportion of its prescriptions containing opioids.

**Hint:** Consider the following list: `[0, 1, 1, 0, 0, 0]`. What proportion of the entries are 1s? What is the mean value?

In [ ]:
opioids_per_practice = chem_scripts.groupby('practice')['opioid'].mean()

In [36]:
mean_opioids = chem_scripts['opioid'].mean()

mean_opioids

0.03580276471367961

How do these proportions compare to the overall opioid prescription rate? Subtract off the proportion of all prescriptions that are opioids from each practice's proportion.

In [37]:
relative_opioids_per_practice = opioids_per_practice - mean_opioids

Now that we know the difference between each practice's opioid prescription rate and the overall rate, we can identify which practices prescribe opioids at above average or below average rates. However, are the differences from the overall rate important or just random deviations? In other words, are the differences from the overall rate big or small?

To answer this question we have to quantify the difference we would typically expect between a given practice's opioid prescription rate and the overall rate. This quantity is called the **standard error**, and is related to the **standard deviation**, $\sigma$. The standard error in this case is

$$ \frac{\sigma}{\sqrt{n}} $$

where $n$ is the number of prescriptions each practice made. Calculate the standard error for each practice. Then divide `relative_opioids_per_practice` by the standard errors. We'll call the final result `opioid_scores`.

In [38]:
standard_error_per_practice = chem_scripts['opioid'].std()/np.sqrt(chem_scripts['practice'].value_counts()) 
opioid_scores = relative_opioids_per_practice/standard_error_per_practice

opioid_scores.head()

A81005   -0.548306
A81007    1.544557
A81011    2.291795
A81012    1.373060
A81017    0.583168
dtype: float64

In [39]:
opioid_scores = opioid_scores.sort_values(ascending=False)

opioid_scores.head()

Y01852    11.695818
Y03006     7.339043
Y03668     6.150582
G81703     5.123032
Y04997     4.958866
dtype: float64

In [41]:
df = opioid_scores.to_frame().reset_index()
df.head(3)

    index          0
0  Y01852  11.695818
1  Y03006   7.339043
2  Y03668   6.150582

In [42]:
 df = df.rename(columns= {0: 'opioid_scores'})
df.head(3)

    index  opioid_scores
0  Y01852      11.695818
1  Y03006       7.339043
2  Y03668       6.150582

In [43]:
df.index.name = 'index'
df.head(3)

        index  opioid_scores
index
0      Y01852      11.695818
1      Y03006       7.339043
2      Y03668       6.150582

In [44]:
total_prescriptions = scripts.groupby('practice').size() 
total_prescriptions.head()

practice
A81005    1507
A81007    1454
A81011    1568
A81012    1332
A81017    2150
dtype: int64

In [45]:
 df1 = total_prescriptions.to_frame().reset_index()
df1.head(2)

  practice     0
0   A81005  1507
1   A81007  1454

In [49]:
df1 = df1.rename(columns= {0: 'scripts_no'})
df1.index.name = 'index'
df1.head(2)

      practice  scripts_no
index
0       A81005        1507
1       A81007        1454

In [51]:
merged_chem_f = df.merge(df1,how='left' ,left_on='index', right_on='practice')
merged_chem_f.head()

    index  opioid_scores practice  scripts_no
0  Y01852      11.695818   Y01852           7
1  Y03006       7.339043   Y03006           2
2  Y03668       6.150582   Y03668          60
3  G81703       5.123032   G81703          36
4  Y04997       4.958866   Y04997         321

In [52]:
uniquepractice1=(practices.sort_values('name')
            .groupby('code').first().reset_index())
uniquepractice1.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,MCKENZIE HOUSE,17 KENDAL ROAD,HARTLEPOOL,CLEVELAND,TS25 1QU
3,A81004,BLUEBELL MEDICAL CENTRE,TRIMDON AVENUE,ACKLAM,MIDDLESBROUGH,CLEVELAND,TS5 8SB
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [56]:
merged_chem_f_final= merged_chem_f.merge(uniquepractice1,how='left' ,left_on='practice', right_on='code')
merged_chem_f_final.head()

,index,opioid_scores,practice,scripts_no,code,name,addr_1,addr_2,borough,village,post_code
0,Y01852,11.695818,Y01852,7,Y01852,NATIONAL ENHANCED SERVICE,NYE BEVAN HOUSE,MACLURE ROAD,ROCHDALE,LANCASHIRE,OL11 1DN
1,Y03006,7.339043,Y03006,2,Y03006,OUTREACH SERVICE NH / RH,PCC 69 CHURCH STREET WEST,RADCLIFFE,MANCHESTER,NaN,M26 2SP
2,Y03668,6.150582,Y03668,60,Y03668,BRISDOC HEALTHCARE SERVICES OOH,KNOWLE WEST HEALTH PARK,DOWNTON ROAD KNOWLE,BRISTOL,NaN,BS4 1WH
3,G81703,5.123032,G81703,36,G81703,H&R P C SPECIAL SCHEME,STATION PLAZA HEALTH CTR,STATION APPROACH,HASTINGS,EAST SUSSEX,TN34 1BA
4,Y04997,4.958866,Y04997,321,Y04997,HMR BARDOC OOH,MOORGATE PRIMARY CARE CTR,22 DERBY ROAD,BURY,LANCASHIRE,BL9 0NJ

In [57]:
merged_chem_f_final.sort_values('opioid_scores',ascending=False)
merged_chem_f_final.head()

,index,opioid_scores,practice,scripts_no,code,name,addr_1,addr_2,borough,village,post_code
0,Y01852,11.695818,Y01852,7,Y01852,NATIONAL ENHANCED SERVICE,NYE BEVAN HOUSE,MACLURE ROAD,ROCHDALE,LANCASHIRE,OL11 1DN
1,Y03006,7.339043,Y03006,2,Y03006,OUTREACH SERVICE NH / RH,PCC 69 CHURCH STREET WEST,RADCLIFFE,MANCHESTER,NaN,M26 2SP
2,Y03668,6.150582,Y03668,60,Y03668,BRISDOC HEALTHCARE SERVICES OOH,KNOWLE WEST HEALTH PARK,DOWNTON ROAD KNOWLE,BRISTOL,NaN,BS4 1WH
3,G81703,5.123032,G81703,36,G81703,H&R P C SPECIAL SCHEME,STATION PLAZA HEALTH CTR,STATION APPROACH,HASTINGS,EAST SUSSEX,TN34 1BA
4,Y04997,4.958866,Y04997,321,Y04997,HMR BARDOC OOH,MOORGATE PRIMARY CARE CTR,22 DERBY ROAD,BURY,LANCASHIRE,BL9 0NJ

In [58]:
subset = merged_chem_f_final[['name','opioid_scores','scripts_no']]
subset.head()

                              name  opioid_scores  scripts_no
0        NATIONAL ENHANCED SERVICE      11.695818           7
1         OUTREACH SERVICE NH / RH       7.339043           2
2  BRISDOC HEALTHCARE SERVICES OOH       6.150582          60
3           H&R P C SPECIAL SCHEME       5.123032          36
4                   HMR BARDOC OOH       4.958866         321

In [59]:
tuples = [tuple(x) for x in subset.values]

The quantity we have calculated in `opioid_scores` is called a **z-score**:

$$ \frac{\bar{X} - \mu}{\sqrt{\sigma^2/n}} $$

Here $\bar{X}$ corresponds with the proportion for each practice, $\mu$ corresponds with the proportion across all practices, $\sigma^2$ corresponds with the variance of the proportion across all practices, and $n$ is the number of prescriptions made by each practice. Notice $\bar{X}$ and $n$ will be different for each practice, while $\mu$ and $\sigma$ are determined across all prescriptions, and so are the same for every z-score. The z-score is a useful statistical tool used for hypothesis testing, finding outliers, and comparing data about different types of objects or events.

Now that we've calculated this statistic, take the 100 practices with the largest z-score. Return your result as a list of tuples in the form `(practice_name, z-score, number_of_scripts)`. Sort your tuples by z-score in descending order. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [60]:
# unique_practices = ...
# anomalies = [("NATIONAL ENHANCED SERVICE", 11.6958178629, 7)] * 100
anomalies=tuples[0:100]

In [62]:
grader.score.dw__script_anomalies(anomalies)

==================
Your score:  1.0
==================

## Question 5: script_growth

Another way to identify anomalies is by comparing current data to historical data. In the case of identifying sites of drug abuse, we might compare a practice's current rate of opioid prescription to their rate 5 or 10 years ago. Unless the nature of the practice has changed, the profile of drugs they prescribe should be relatively stable. We might also want to identify trends through time for business reasons, identifying drugs that are gaining market share. That's what we'll do in this question.

We'll load in beneficiary data from 6 months earlier, June 2016, and calculate the percent growth in prescription rate from June 2016 to January 2017 for each `bnf_name`. We'll return the 50 items with largest growth and the 50 items with the largest shrinkage (i.e. negative percent growth) as a list of tuples sorted by growth rate in descending order in the format `(script_name, growth_rate, raw_2016_count)`. You'll notice that many of the 50 fastest growing items have low counts of prescriptions in 2016. Filter out any items that were prescribed less than 50 times.

In [ ]:
scripts16 = ...

In [ ]:
script_growth = [("Butec_Transdermal Patch 5mcg\/hr", 3.4677419355, 62.0)] * 100

In [ ]:
grader.score.dw__script_growth(script_growth)

## Question 6: rare_scripts

Does a practice's prescription costs originate from routine care or from reliance on rarely prescribed treatments? Commonplace treatments can carry lower costs than rare treatments because of efficiencies in large-scale production. While some specialist practices can't help but avoid prescribing rare medicines because there are no alternatives, some practices may be prescribing a unnecessary amount of brand-name products when generics are available. Let's identify practices whose costs disproportionately originate from rarely prescribed items.

First we have to identify which `'bnf_code'` are rare. To do this, find the probability $p$ of a prescription having a particular `'bnf_code'` if the `'bnf_code'` was randomly chosen from the unique options in the beneficiary data. We will call a `'bnf_code'` rare if it is prescribed at a rate less than $0.1p$.

In [ ]:
p = ...
rates = ...
rare_codes = ...
scripts['rare'] = ...

Now for each practice, calculate the proportion of costs that originate from prescription of rare treatments (i.e. rare `'bnf_code'`). Use the `'act_cost'` field for this calculation.

In [ ]:
rare_cost_prop = ...

Now we will calculate a z-score for each practice based on this proportion.
First take the difference of `rare_cost_prop` and the proportion of costs originating from rare treatments across all practices.

In [ ]:
relative_rare_cost_prop = ...

Now we will estimate the standard errors (i.e. the denominator of the z-score) by simply taking the standard deviation of this difference.

In [ ]:
standard_errors = ...

Finally compute the z-scores. Return the practices with the top 100 z-scores in the form `(post_code, practice_name, z-score)`. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [ ]:
rare_scores = ...

In [ ]:
rare_scripts = [("Y03472", "CONSULTANT DIABETES TEAM", 16.2626871247)] * 100

In [ ]:
grader.score.dw__rare_scripts(rare_scripts)

*Copyright &copy; 2019 The Data Incubator.  All rights reserved.*